body {
  background-color: whitesmoke;
}

h1 {
  float: center;
  justify-content: right;
}

p {
  font-size: large;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;

  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: black;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: white;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
