body {
  background-color: whitesmoke;
}

.main-body {
  padding-left: 2%;
  padding-right: 2%;
}

.me {
  color: white;
  font-family: "EB Garamond", serif;
  text-align: center;
}

p {
  font-size: large;
  font-family: "EB Garamond", serif;
}

.about-me-section {
  color: white;
  font-family: "EB Garamond", serif;
}

.about-me-contact {
  color: white;
  font-family: "EB Garamond", serif;
  font-size: large;
}

.self-font {
  font-family: "EB Garamond", serif;
  text-decoration: underline;
  color: #8b0000;
  text-align: center;
}

.section-title {
  font-family: "EB Garamond", serif;
  text-decoration: underline;
  color: #8b0000;
  text-align: center;
}

.about-me-section {
  background-color: #8b0000;
}

.self-align {
  float: left;
  border-style: solid;
  border-width: 3px;
  color: #8b0000;
}

.col {
  text-align: center;
  color: #8b0000;
}

.col-exp {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: #8b0000;
  color: white;
  font-size: small;
  font-family: "EB Garamond", serif;
}

.self-resume {
  font-family: "EB Garamond", serif;
  text-align: center;
  text-decoration: underline;
}
.img-resume {
  border: 1px solid #8b0000;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #8b0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: black;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: white;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.side-nav-linkedin {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: #007bb5;
  color: white;
}

.side-nav-github {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: rgb(8, 8, 33);
  color: black;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  height: 10%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.self-info {
  float: center;
  color: white;
}

.portfolio-item--title {
  padding: 20px;
  background: #8b0000;
  color: #fff;
  text-align: center;
}

.porfolio-item--card {
  background-color: white;
  border: 1px solid #8b0000;
}

.main-body {
  margin-left: 300px;
}

@media only screen and (max-width: 576px) {
  .main-body {
    margin: 0;
  }
}
